{% extends 'family_tree/pages/layout.html' %}
{% block content %}
    <div class="input-container">
        <form method="POST" action="{% url 'family_tree:delete_member' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}.
                </div>
            {% endfor %}
            <button id="removeMember" class="btn btn-primary">Remove Family Member</button>
        </form>
    </div>
{% endblock %}