{% extends 'family_tree/pages/layout.html' %}
{% block content %}
    <div data-testid="family-tree-container" class="nt-4">
        <table class="table">
            <thread>
                <th scope="col">Name</th>
                <th scope="col">Relationship</th>
                <th scope="col">Related Scooby-Gang Member</th>
                <th scope="col">Appearance</th>
            </thread>
            <tbody>
                {% for member in family %}
                    <tr data-testid="{{member.id}}">
                        <td data-testid="name_{{member.id}}">{{ member.name }}</td>
                        <td data-testid="relationship_{{member.id}}">{{ member.relationship }}</td>
                        <td data-testid="gang_{{member.id}}">{{ member.gang }}</td>
                        <td data-testid="appearance_{{member.id}}">{{ member.appearance }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
```