{% extends 'family_tree/pages/layout.html' %}

{% block content %}
<div class="login-container">
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        <!-- Add your form fields and submit button here -->
        <input type="text" data-testid="username" name="username" placeholder="Username" required>
        <input type="password" data-testid="password" name="password" placeholder="Password" required>
        <input type="submit" data-testid="login" value="Login">
    </form>
    <p>New here? <a href='{% url "family_tree:register" %}'>Register Here</a></p>
</div>
{% endblock %}
