{% extends 'family_tree/pages/layout.html' %}
{% block content %}
    <div class="display-container">
        <div class="display-container__item">
            <h2 data-testid="name">{{ member.name }}</h2>
            <h5>Relationship:</h5>
            <p data-testid="relationship">{{ member.relationship }}</p>
            <h5>Related Scooby-Doo Gang Member:</h5>
            <p data-testid="gang">{{ member.gang }}</p>
            <h5>Appearance:</h5>
            <p data-testid="appearance">{{ member.appearance }}</p>
        </div>
        <div class="display-container__item">
            <img src="{{ member.image.url }}" alt="Image of {{ member.name }}" data-testid="image">
        </div>
    </div>
{% endblock %}
```