{% extends 'family_tree/pages/layout.html' %}
{% block content %}
    <div class="display-container">
        <select>
            <option value="empty"></option>
            <option value="Velma">Velma Dinkley</option>
            <option value="Fred">Fred</option>
            <option value="Daphne">Daphne</option>
            <option value="Scooby">Scooby-Doo</option>
            <option value="Shaggy">Shaggy</option>
        </select>
        
        <!--
        <script src="https://balkangraph.com/js/latest/OrgChart.js"></script>
        <div id="tree"></div>
        -->
    </div>
{% endblock %}
```